html {
    font-family: monospace;
    background-color: #0d0;
}
a {
  cursor: pointer;
  text-decoration: underline;
}
a:hover{
    opacity: 0.8;
}
.version {
	padding-left: 2%;
	font-size: 50%;
	color: rgba(0, 0, 0, .5);
}
.dark .version {
	color: rgb(194, 194, 194);
}
ul{
    list-style-type: none;
    padding: 0px 2px;
}
ul li {
    margin: 12px 14px;
}
ul li a {
    text-decoration: none;
    padding: 4px 6px;
    font-size: 12px;
    background-color: #0f0;
    color: #fff;
    border-radius: 8px;
}
.dark ul li a{
    background-color: #080;
    color: #fff;
}

/* Theme changer */
.theme-select {
    position: absolute;
    left: 5px;
    top: 5px;
    opacity: 0.5;
    transition: opacity 0.2s;
}
.theme-select:hover {
    opacity: 1;
}
.app{
    width: 640px;
    margin: auto;
    color: #050;
}
.app a{
    color: #050;
}
.dark {
    background-color: #020;
    color: #dfd;
}
.dark .app {
    color: #dfd;
}
.dark a {
    color: #dfd;
}
#pinkfie-player{
    width: 640px;
    margin: 0 auto;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown > select {
    position: absolute;
    font: inherit;
    opacity: 0;
    cursor: pointer;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}