.pinkfie-root{
  position: relative;
  width: 100%;
  height: 100%;
}
.pinkfie-root > * {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateZ(0);
}

.watcher-pinkfie-menu-vertical {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
.watcher-pinkfie-menu-vertical div {
  padding: 3px;
  margin: 3px;
  font-size: 13px;
  color: rgb(255, 255, 255);
  transition: 0s;
}
.watcher-pinkfie-menu-vertical div:hover {
  cursor: pointer;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1), 0px 0px 2px rgba(255, 255, 255, 1), 0px 0px 2px rgba(255, 255, 255, 1), 0px 0px 2px rgba(255, 255, 255, 1);
}
.watcher-pinkfie-setting {
  color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(2px);
}
.watcher-pinkfie-setting a {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  text-decoration: underline;
  transition: 0s;
}
.watcher-pinkfie-setting a:hover{
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1), 0px 0px 2px rgba(255, 255, 255, 1), 0px 0px 2px rgba(255, 255, 255, 1), 0px 0px 2px rgba(255, 255, 255, 1);
}

/* Player Styles */
.pinkfie-player-root{
  font-family: monospace;
}
.pinkfie-player-stage{
	position: relative;
}

/* Player Fullscreen */
.pinkfie-player-root[fullscreen] {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  height: 100%;
  width: 100%;
}
.pinkfie-body-fullscreen {
  background: #000;
  overflow: hidden;
}

/* Player Click To Play */
.pinkfie-player-click-to-play-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pinkfie-player-click-to-play-icon {
  width: 10em;
  height: 10em;
  background-image: url(click-to-play.svg);
  background-size: 100% 100%;
}

/* Player Loading */
.pinkfie-player-loading{
  position: relative;
  width: 100%;
  height: 100%;
  background: #bbb;
}
.pinkfie-player-loading-anim{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 40px);
  color: #000;
}
.pinkfie-player-loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80px);
  width: 320px;
  height: 120px;
  margin: auto;
  background-image: url(pinkfie_logo_l.svg); background-size: 100% 100%;
}
.pinkfie-player-loading-progress{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 65px);
  width: 150px;
  height: 10px;
  background-color: #000;
  border-radius: 10px;
}
.pinkfie-player-loading-progress div{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 10%;
  height: 100%;
  background: #0f0;
  transition: 0.2s;
  border-radius: 10px;
}