.pinkfie-root{
  font-family: monospace;
}
.pinkfie-stage{
	position: relative;
}
.watcher-pinkfie-menu-vertical div {
  padding: 0.2em;
  margin: 0.2em;
  font-size: 1em;
  color: rgb(255, 255, 255);
}
.watcher-pinkfie-menu-vertical div:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}
.watcher-pinkfie-setting div {
  color: rgba(255, 255, 255, 1);
}
.watcher-pinkfie-setting div a {
  color: rgba(255, 255, 255, 1);
}